<div class="container my-4">
    <h1 class="text-center">Quotes Management</h1>   
    <p>Next Update: Users will be able to add quotes category wise.</p> 
    <p>Next Update Release Date: 25th July, 2021.</p> 
</div>    